.room-container-break{
  padding: 5px;
  background-color: wheat;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.room-container-break {
  position: relative; 
  flex: 1;         
  height: 94vh;
  padding: 50px;
  margin: 0;
  border-radius: 0%;
  overflow: hidden;           
  z-index: 1;  
}

.room-container-break::before {
  content: "";
  position: absolute;
  inset: 0;  
  background:url(../images/break.background.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  
  transform: scale(1.1);        
  z-index: -1;                 
}