.friendsPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Friends{
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    height: 70%;
    border-radius: 10px;

}

#friendPic{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    cursor: pointer;
    
}

.friendItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendItem span{
    position: absolute ;
}

#friendName{
    color: rgb(0, 0, 0);
    font-family: monospace;

}

.friendList {
  display: flex;
  flex-direction: column; 
  width: 100%;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.friendsElements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;

}

.friendsElements > *{
    flex: 1;
}




.frElementSecond{
    padding: 10px;
    width: 99%;
    height: 91%;
    justify-content: space-between;
    position: relative;
    
    
}

.noPendMessages{
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
}

.AddFriends{
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 2vh;     
    right: 2vh;
    display: flex;
    background-color: white;
    font-family: monospace;
    border-radius: 20px;
    height: 10vh;
    width: 20vh;
    font-size: large;
    cursor: pointer;
}

.popup button{
    cursor: pointer;
}

.UserFriends{
    padding: 10px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(134, 153, 138); /* default tab */
  padding: 5px 10px;
  transition: 0.2s ease;
}

.tab:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1); /* active tab color */
  color: #000000;
}
.activeTab:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: default;
}


.FriendListsGrid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;

}

