.friendsPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: yellowgreen;
}

.Friends{
    background-color: rgb(0, 0, 0, 0.6);
    padding: 20px;
    width: 70%;
    height: 70%;
    border-radius: 10px;

}

#friendPic{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    cursor: pointer;
    
}

.friendItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendItem span{
    position: absolute ;
}

#friendName{
    color: rgb(0, 0, 0);
    font-family: monospace;

}

.friendList{
    display: flex;
    flex-direction: row;
    width: 100vh;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    padding: 2px;
}
