.friendsPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/images/friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Friends{
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    height: 70%;
    border-radius: 10px;

}

#friendPic{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    
}

.friendItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendItem span{
    position: absolute ;
}

#friendName{
    color: rgb(0, 0, 0);
    font-family: monospace;

}

.friendList {
  display: flex;
  flex-direction: column; 
  width: 100%;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.friendList:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.friendsElements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;

}

.friendsElements > *{
    flex: 1;
}




.frElementSecond{
    margin-top: 1vh;
    padding-top: 10px;
    width: 100%;
    height: 91%;
    justify-content: space-between;
    position: relative;
    
}

.noPendMessages{
  color: rgb(0, 0, 0);
  align-items: center;
  text-align: center;
}

.AddFriends{
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 2vh;     
    right: 2vh;
    display: flex;
    background:linear-gradient( rgb(134, 153, 138), white);
    font-family: monospace;
    border-radius: 5px;
    height: 7vh;
    width: fit-content;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
}

.AddFriends:hover{
    background: linear-gradient(black,rgb(134, 153, 138));
    color: white;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup button{
    cursor: pointer;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-family: monospace;
}


select option{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-family: monospace;
}

.inviteFrBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: row;
}

.singleBtn{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    font-family: monospace; 
}

.singleBtn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}





.UserFriends{
    padding: 10px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(134, 153, 138); /* default tab */
  padding: 5px 10px;
  transition: 0.2s ease;
}

.tab:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.activeTab {
  background-color: rgba(255, 255, 255, 0.1); /* active tab color */
  color: #000000;
}
.activeTab:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: default;
}


.FriendListsGrid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;

}
.friendRequestItem{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,0.5);
    font-family: monospace;
}
.FriendRequests{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 30%;
}
#friendreqPic{
    width: 20vh;
    height: 90%;
    border: 1px solid black;
    border-radius: 10%;
    margin-left: 1vh;
}

.reqButtons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    gap: 5px;
}

#requestButtonAccept{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(103, 197, 226);
    cursor: pointer;
    font-family: monospace;
    width: 100%;
}
#requestButtonAccept:hover{
    background-color: rgb(13, 13, 99);
    color: white;
    
}
#requestButtonDeny:hover{
    background-color: rgb(176, 44, 44);
    color: white;

}

#requestButtonDeny{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(190, 191, 192);
    cursor: pointer;
    font-family: monospace;
    width: 100%;

}
#nameAndEmail{
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 100%;
}

.temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

