        nav{
            display: flex;
            align-items: center;
            justify-content: end;
            position: relative;
            padding: 3px;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            gap: 20px;
            z-index: 3;
            
        }

       

        .ProfileDef{
            width: 40;
            height: 40;
            border-radius: 50%;
            background-color: aqua;
        }

        #Profile {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid black;
            cursor: pointer;

        }
        .LogoutButton{
            padding: 6px 14px;
            background: #E74C3C;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 14px;
        }

        #LinkToLobby{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;
            
        }

        .navButton{
            
            color: rgb(255, 255, 255);
            padding: 5px;
            font-size: 20px;
            cursor: pointer;
            height: 50px;
            background-color: black;
            border: black;
            font-family: monospace;

            
        } 

   
        .navButtonLogout{
            
            color: rgb(255, 255, 255);
            padding: 5px;
            font-size: 20px;
            cursor: pointer;
            height: 50px;
            background-color: black;
            border: black;
            font-family: monospace;

            
        } 
        
        .navButtonLogout:hover{
            background-color: red;
            border-radius: 12px;
        }

        .navButton:hover{
            background-color: rgb(134, 153, 138);
            color: black;
            border-radius: 12px;
            
        }
